*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* when cursor it over element colour changes*/
h1:hover{
    color: red;
}
li:first-child{
    color: red;
}
li:last-child{
    color: green;
}
li:nth-child(2){
    color: blue;
}